node_modules
.next
.turbo
dist
build
coverage
*.log
pnpm-lock.yaml
# Helm charts contain Go template directives ({{ ... }}) that
# confuse Prettier's YAML parser. Helm `helm template` is the
# formatter of record; Prettier should not try to reformat.
infra/helm/
